:root {
    --maincolor: black;
    --secondarycolor: white;
    --montserrat-font: "Montserrat";
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #000, rgba(32, 58, 67, 0.5)),
        url(../IMAGES/backgroundsite.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
}

.home span {
    text-shadow: 2px 2px 2px #181818;
}

.bgBlur {
    filter: blur(100%);
}

.home-text {
    font-size: 30px;
    color: white;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.home-text h1 {
    font-size: 60px;
    font-family: "Montserrat";
    font-weight: 200;
    color: #fff;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 10px #fff,
        0 0 20px rgb(255, 32, 32), 0 0 20px rgb(255, 32, 32),
        0 0 20px rgb(255, 32, 32), 0 0 10px rgb(255, 32, 32),
        0 0 10px rgb(255, 32, 32);
    animation: flicker 3s infinite alternate;
}

.home-div-text {
    padding: 20rem 10%;
}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 10px #fff,
            0 0 20px rgb(255, 32, 32), 0 0 20px rgb(255, 32, 32),
            0 0 20px rgb(255, 32, 32), 0 0 10px rgb(255, 32, 32),
            0 0 10px rgb(255, 32, 32);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

a {
    color: white;
}

@media (max-width: 1050px) {
    .home-div-text {
        padding: 16rem 10% !important;
        text-align: center;
    }

    .home-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 380px) {
    .home-text a{
        font-size: 2.7rem;
    }

    .home-text p{
        font-size: 1.8rem;
    }

    .home-text h1{
        font-size: 3rem;
        margin-top: 1.2rem;
    }
}