@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --maincolor: black;
  --secondarycolor: white;
}

body {
  background-color: black;
}

#logo-header {
  width: 15rem;
}

#eu-home {
  height: 20rem;
  width: 20rem;
  margin: 0 50% 25% 50%;
  border-radius: 1rem;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px 0 50px;
  flex-wrap: wrap;
  font-family: "Montserrat";
  z-index: 1;
  top: 0;
  right: 0;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0.5rem;
}

header ul li {
  margin: 0 10px;
}

header ul li a {
  color: rgb(255, 32, 32);;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 7px;
  letter-spacing: 1px;
  border-style: solid;
  border-width: 1px;
}

header ul li a.active,
header ul li a:hover {
  text-decoration: none;
  transition: all 0.45s ease;
  color: rgb(255, 255, 255);
}

header .menu-hb i {
  color:rgb(255, 32, 32);
  display: none;
  cursor: pointer;
}

@media (max-width: 920px) {
  header .menu-hb i {
    display: block;
  }

  header ul {
    position: fixed;
    top: 148px;
    left: 200%;
    background-color: orange;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    z-index: 1;
    transition: all 0.45s ease;
    color: var(--maincolor);
  }

  header ul.open {
    left: 0;
  }

  header ul li {
    width: 100%;
    margin: 50px 0;
  }

  header ul li a {
    font-size: 23px;
  }

  header ul li a.active,
  header ul li a:hover {
    background: none;
    color: var(--secondarycolor);
  }
}

section {
  background-color: rgb(0, 0, 0);
}

.background-home{
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #000, rgba(32, 58, 67, 0.1)), url(../IMAGES/backgroundsite.png);
    
}

#home {
  color: white;
  top:0;
  right: 0;
}

.home-container{
    margin-top: 5rem;
}

.home-text {
  padding: 15rem 2rem 0 10rem;
  font-size: 30px;
  color: white;
  font-family: "Montserrat";
}

.home-text h1 {
  font-size: 60px;
  font-family: "Montserrat";
  font-weight: 200;
  color: #fff;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 10px #fff,
    0 0 20px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0),
    0 0 10px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0);
  animation: flicker 3s infinite alternate;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 10px #fff,
      0 0 20px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0),
      0 0 10px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
